fastapi
uvicorn
pydantic
pydantic-settings
langchain
langchain-community
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
pypdf2
pypdf
pymupdf
python-docx
requests
python-dotenv
python-multipart
anthropic
aiohttp
livekit-api
livekit-agents
livekit-plugins-anthropic
livekit-plugins-deepgram
livekit-plugins-elevenlabs
livekit-plugins-silero
livekit-plugins-cartesia
groq
livekit-plugins-groq
